body{
    font-family: "Yu Gothic UI", sans-serif;
}

header{
    background: #eeeeee;
}

.headerInner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerInner, .mainInner, .footerInner{
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
}

.mainInner .icon{
    padding: 10px 0;
}

main section{
    border-bottom: 1px solid #dfdfdf;
}

.footerInner{
    text-align: center;
    color: #696969;
    padding: 20px 0;
}

/*テーブル*/
.mainInner .content{
    margin: 40px auto;
    border-spacing:  0px 40px;
    width: 100%;
    color: #696969;
}
.mainInner .content th, td{
    width: 50%;
}
/*ここまでテーブル*/

.parent{
    display: flex;
    text-align: center;
}

.child{
    width: 50%;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.child img{
    width: 48px;
}

@media screen and (max-width: 800px){
    .parent{
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width: 400px){
    .parent{
        display: block;
        text-align: center;
    }
}

h1{
    text-align: center;
}

h1 .subtitle{
    font-size: 0.6em;
    font-weight: normal;
    color: #696969;
}

.container {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.card{
    width: 288px;
    height: auto;
}

.card-skin {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
}

.card-skin .card__textbox {
    color: #696969;
}

.card__imgframe_maze{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(../img/Maze-DFS-15x15.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
}

.card__imgframe_news{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: url(../img/News-Gacha-Simulator.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
}

.card__textbox{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
}

.card__textbox > * + *{
    margin-top: 10px;
}

.card__titletext{
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
}

.container a {
    text-decoration: none;
}

.card__overviewtext{
    font-size: 12px;
    line-height: 150%;
}