body{
    font-family: "Yu Gothic UI", sans-serif;
}

header{
    background: #eeeeee;
}

.headerInner{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerInner, .mainInner, .footerInner{
    max-width: 650px;
    margin: auto;
    padding: 0 20px;
}

.mainInner .icon{
    padding: 10px 0;
}

main section{
    border-bottom: 1px solid #dfdfdf;
}

.footerInner{
    text-align: center;
    color: #696969;
    padding: 20px 0;
}

/*テーブル*/
.mainInner .content{
    margin: 40px auto;
    border-spacing:  0px 40px;
    width: 100%;
    color: #696969;
}
.mainInner .content th, td{
    width: 50%;
}
/*ここまでテーブル*/

.parent{
    display: flex;
    text-align: center;
}

.child{
    width: 150px;
    margin: 10px;
    padding: 10px;
}

.child img{
    width: 48px;
}

@media screen and (max-width: 800px){
    .parent{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px){
    .parent{
        display: block;
    }
}

h1{
    text-align: center;
}

h1 .subtitle{
    font-size: 0.6em;
    font-weight: normal;
    color: #696969;
}